# Credenciales Base de Datos
DB_HOST='host_de_la_base_de_datos'
DB_USER='usuario_de_la_base_de_datos'
DB_PASSWORD='contraseña_del_usuario'
DB_DATABASE='nombre_de_la_base_de_datos'
DB_PORT='puerto_de_la_base_de_datos'

# Credenciales de Telegram
TOKEN_BOT='token_de_bot'
CHAT_ID_1='id_de_chat_1_de_telegram'
CHAT_ID_2='id_de_chat_2_de_telegram'